name: Publish

on:
  push:
    tags: [ v* ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6

    - name: Use .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: NuGet login
      uses: NuGet/login@v1
      id: login
      with:
        user: shibayan

    - name: Setup Version
      id: setup_version
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT

    - name: Pack NuGet Packages
      run: |
        dotnet pack src/WebJobs.Extensions.HttpApi/WebJobs.Extensions.HttpApi.csproj -c Release -o ./dist -p:Version=${{ steps.setup_version.outputs.VERSION }}
        dotnet pack src/Functions.Worker.Extensions.HttpApi/Functions.Worker.Extensions.HttpApi.csproj -c Release -o ./dist -p:Version=${{ steps.setup_version.outputs.VERSION }}

    - name: Publish NuGet Packages
      run: dotnet nuget push dist/*.nupkg -k ${{ steps.login.outputs.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
